<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style-main.css">
</head>
<body>
<header>
    <div class="flex">
        <p class="logo">CampusJob</p>
        <img class="logotype" src="img/img-mail/logo.png" width="30" height="30" alt="Логотип">
    </div>

    <nav>
        <ul class="main-nav">
            <li class="nav-item"><a href="#">Вакансии</a></li>
            <li class="nav-item"><a href="#">Мои заявки</a></li>
            <li class="nav-item"><a href="#">Войти</a></li>
            <li class="nav-item"><a href="#">Перевод</a> <img src="img/img-mail/polygon.png" width="20" height="10" alt="Кнопка разворота переводов"></li>
        </ul>
    </nav>
</header>
{% block content %}
{% endblock %}