{% extends 'main/layout.html' %}

{%  block content %}
<main>
		<h1>Перевод баллов</h1>
		<div class="card1">
			<h2>Курсы на <a href="https://openedu.ru/">OpenEdu</a></h2>
			<p class="text bold">Нюансы перевода баллов с онлайн курсов:</p>
			<p class="text"><img src="img/img-cours/mark.png" alt="Зеленая галочка">Курсы УрФУ, а также курсы со схожей системой оценивания переводятся точно <br> также, как отображается на сайте</p>
			<p class="text"><img src="img/img-cours/mark.png" alt="Зеленая галочка">Курсы с иной системой переводятся по формуле:</p>
			<img src="img/img-brs/formula.png" width="1000" height="80" alt="Формула перевода баллов">
			<p class="text"><img src="img/img-brs/dot.png" width="15" height="15" alt="Точка"> Бу – балл по 100 балльной шкале УрФУ <br>
							<img src="img/img-brs/dot.png" width="15" height="15" alt="Точка"> Бп – балл по 100 балльной шкале вуза-партнера <br>
							<img src="img/img-brs/dot.png" width="15" height="15" alt="Точка"> Нп – нижняя граница диапазона, соответствующего определённой оценке по <b class="none">шшшшш</b> <b class="none">п</b> 5-балльной шкале вуза-партнера<br>
							<img src="img/img-brs/dot.png" width="15" height="15" alt="Точка"> Ну – нижняя граница диапазона, соответствующего определённой оценке по <b class="none">шшшшш</b> <b class="none">п</b> 5-балльной шкале УрФУ <br>
							<img src="img/img-brs/dot.png" width="15" height="15" alt="Точка"> КЗп – количество значений в диапазоне, соответствующее той же оценке по <b class="none">шшшшш</b> <b class="none">п</b> 5-балльной шкале вуза-партнера <br>
							<img src="img/img-brs/dot.png" width="15" height="15" alt="Точка"> КЗу – количество значений в диапазоне, соответствующее той же оценке по <b class="none">шшшшш</b> <b class="none">п</b> 5-балльной шкале УрФУ
			</p>
			<p class="text">Формула достаточно сложна для понимания, поэтому советуем набирать максимально возможный балл, чтобы не сомневаться в зачете</p>

		</div>

		<div class="card2">
			<h2>Смешанные курсы</h2>
			<p class="text"><img src="img/img-cours/mark.png" alt="Зеленая галочка">Баллы по курсам смешанного формата переводятся согласно коэффициентам БРС:</p>
			<img src="img/img-brs/brs.png" width="1000" height="500" alt="Таблица с переводом баллов из БРС">
		</div>

		<h2>Поздравляем! Теперь вы знаете о переводе баллов по онлайн курсам</h2>
	</main>
{% endblock %}